/* Sembunyikan scrollbar secara global */
::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

html, body {
  scrollbar-width: none; /* Untuk Firefox */
  -ms-overflow-style: none; /* Untuk Internet Explorer & Edge */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}